<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv='Content-Type' content="text/html;charset=utf-8" />
    <meta http-equiv='X-UA-Compatible' content="IE=edge,chrome=1" />
    <meta content='always' name='referrer' />
    <title>OpenLayers 21at Example2</title>
    <link th:href="@{/lib/ol4.3.2/ol.css}" href="../static/lib/ol4.3.2/ol.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/lib/ol4.3.2/ol.js}" src="../static/lib/ol4.3.2/ol.js" charset="utf-8"></script>
</head>

<body>
    <div><span>Zoom: </span><span id="zoom"></span><span>Resolution: </span><span id="resolution"></span></div>

    <div id="map" style="width: 100%"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    <script type="text/javascript">
        //Thymeleaf escape
        /* <![CDATA[ */
        // var center = ol.proj.transform([104.06667, 30.66667], 'EPSG:4326', 'EPSG:3857');

        // Open Street Map
        var selectStyle = new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#ff0000',
                width: 2
            })
        });

        var defaultStyle = new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#0000ff',
                width: 2
            })
        });

        var osmSource = new ol.source.OSM();
        var openStreetMapLayer = new ol.layer.Tile({
            source: osmSource
        });
        var debugLayer = new ol.layer.Tile({
            source: new ol.source.TileDebug({
                projection: 'EPSG:3857',
                tileGrid: osmSource.getTileGrid()
            })
        });

        var projection = new ol.proj.Projection({
            code: 'EPSG:3414',
            units: 'm',
            axisOrientation: 'neu',
            global: false
        });

        var vectorSource = new ol.source.Vector({
            format: new ol.format.GeoJSON(),
            projection: projection,
            url: function(extent) {
                return 'http://192.168.106.37:8080/geoserver/asia21at/wfs?service=WFS&' +
                    'version=1.0.0&request=GetFeature&typename=asia21at:sg_mp14_subzone_pl&' +
                    'outputFormat=application/json&srsname=EPSG:3857&' +
                    'bbox=' + extent.join(',') + ',EPSG:3857';
            },
            strategy: ol.loadingstrategy.bbox
        });

        var vector = new ol.layer.Vector({
            id: 'vector',
            source: vectorSource,
            style: defaultStyle
        })

        var map = new ol.Map({
            controls: ol.control.defaults({
                attributionOptions: ({
                    collapsible: false
                })
            }),
            // logo: false,     // don't display logo
            // logo: 'face_monkey.png',     // use one image
            logo: {
                src: '../img/icon/21at(asia)logo.jpg',
                href: 'http://www.21at.sg/'
            },
            layers: [
                openStreetMapLayer,
                vector,
                // debugLayer
            ],

            view: new ol.View({
                // extent: [102, 29, 104, 31],
                center: ol.proj.transform(
                    [103.852, 1.290], 'EPSG:4326', 'EPSG:3857'), // long,lat
                projection: 'EPSG:3857',
                zoom: 10,
                // minZoom: 10,
                // maxZoom: 14
            }),

            target: 'map'
        });
        var selectInteraction = new ol.interaction.Select({
            layers: function(layer) {
                return layer.get('id') == 'vector';
            },
            style: [selectStyle]
        });
        map.getInteractions().extend([selectInteraction]);



        /**
         * Popup
         **/
        var
            container = document.getElementById('popup'),
            content_element = document.getElementById('popup-content'),
            closer = document.getElementById('popup-closer');
        closer.onclick = function() {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };
        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            offset: [0, -10]
        });
        map.addOverlay(overlay);

        var displayFeatureInfo = function(pixel) {

            var features = [];
            map.forEachFeatureAtPixel(pixel, function(feature, layer) {
                features.push(feature);
            });
            if (features.length > 0) {
                var info = [];
                var content = ''
                var len = features.length;
                for (var i = 0; i < len; ++i) {
                    info.push(features[i].get('subzone_n'));
                    info.push(features[i].get('pln_area_n'));
                    info.push(features[i].get('region_n'));
                    content += '<h5>'+info.join(', ')+'</h5>'
                }

                content_element.innerHTML = content;
                overlay.setPosition(map.getCoordinateFromPixel(pixel));
            }

        }
        map.on('click', function(evt) {
            var pixel = evt.pixel;
            displayFeatureInfo(pixel);

        });
        map.getView().on('change:resolution', function() {
            document.getElementById('zoom').innerHTML = this.getZoom() + '，';
            document.getElementById('resolution').innerHTML = this.getResolution();

        })

        document.getElementById('zoom').innerHTML = map.getView().getZoom() + '，';
        document.getElementById('resolution').innerHTML = +map.getView().getResolution();
        /* ]]> */
    </script>
</body>

</html>
